<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaWiMi.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1604E44C2DC419AC00CEEFF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1604E45C2DC419B100CEEFF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1604E4662DC419B200CEEFF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
